@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lepcha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gidugu&family=Josefin+Sans:wght@700&display=swap');

/* custom properties */
:root {
    --primary-color: #115e59;
    --secondary-color: #0f766e;
    --tertiary-color: #0d9488;
    --quaternary-color: #14b8a6;
    --font-color: black;
    --font-style: 'Josefin Sans', sans-serif;
    --font-style-regular: 'Noto Sans Lepcha', sans-serif;
    --font-style-size: 1.3rem;
    --font-style-size-small: 1.1rem;
    --gap-header: 1.8rem;
    --img-width-header: 1.3rem;
    --img-width-logo: 7rem;
    --nav-li-img: 1.5rem;
    --gap-nav: 1rem;
    --gap-mobile: 0.3rem;
    --hamburger-width: 20px;
    --hamburger-height: 2px;
    --hamburger-margin-bottom: 5px;
    --hamburger-padding-top: 22%;
    --hamburger-is-active-padding-top: 31%;
}

/* body */
body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 18fr;
}

/* header */
header {
    display: grid;
    padding: 1% 0;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    background-color: var(--secondary-color);
    color: var(--font-color);
}

header > span {
    grid-column: 4;
    align-self: center;
    font-family: var(--font-style);
    font-size: var(--font-style-size);
}

header > div:last-of-type {
    grid-column: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-header);
}

header > div:last-of-type > img {
    width: var(--img-width-header);
    height: auto;
    background-color: var(--tertiary-color);
    border-radius: 100%;
    cursor: pointer;
}

header > div:last-of-type > img:hover {
    background-color: var(--quaternary-color);
}

/* hamburger menu */
.hamburger .line {
    width: var(--hamburger-width);
    height: var(--hamburger-height);
    background-color: black;
    display: block;
    margin-bottom: var(--hamburger-margin-bottom);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  
.hamburger:hover {
    cursor: pointer;
}
  
.hamburger {
    padding-top: var(--hamburger-padding-top);
    display: none;
    grid-column: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  
.hamburger.is-active {
    padding-top: var(--hamburger-is-active-padding-top);
    animation: smallbig 0.6s forwards;
}
  
@keyframes smallbig {
    0%, 100%{
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  
    50%{
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
    }
}
  
.hamburger.is-active .line:nth-child(1),
.hamburger.is-active .line:nth-child(2),
.hamburger.is-active .line:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
  
.hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}
  
.hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(1px) rotate(45deg);
    -ms-transform: translateY(1px) rotate(45deg);
    -o-transform: translateY(1px) rotate(45deg);
    transform: translateY(1px) rotate(45deg);
}
  
.hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}

/* main */
main {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/* nav */
nav > div > img {
    width: var(--img-width-logo);
    height: auto;
    align-self: center;
    margin-bottom: var(--gap-nav);
}

nav img {
    width: var(--nav-li-img);
    margin-left: var(--gap-nav);
}

li > span {
    font-family: var(--font-style);
    font-size: var(--font-style-size-small);
    align-self: flex-end;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--tertiary-color);
}

nav > div {
    display: flex;
    flex-direction: column;
    margin-top: var(--gap-nav);
}

nav li {
    display: flex;
    gap: var(--gap-nav);
    cursor: pointer;
    padding: var(--gap-nav);
}

nav li:hover {
    background-color: var(--primary-color);
}

/* scroll bar */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--tertiary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

/* section .game-list*/
.game-list {
    background-color: var(--primary-color);
}

.search-bar {
    display:grid;
    height: fit-content;
    padding: 2% 0 2% 0;
    grid-template-columns: 5fr repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

/* search bar */
.search-bar > form {
    width: 90%;
    height: var(--font-style-size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-bar > form > input {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 15px;
    border: none;
    padding: 0 0 0 10%;
    font-family: var(--font-style-regular);
    font-size: var(--font-style-size-small);
    background-color: var(--tertiary-color);
    color: var(--font-color);
}

.search-bar > form > input::placeholder {
    font-family: var(--font-style);
    font-size: var(--font-style-size-small);
    color: var(--primary-color);
}

.search-bar > form > input:focus {
    outline: none;
}

.search-bar > form > button {
    display: inline-block;
    position: absolute;
    background: transparent;
    border: none;
    top: -2px;
    left: 2%;
    z-index: 2;
}

button img {
    width: var(--nav-li-img);
    height: auto;
}

/* span after search bar */
.search-bar > div:first-of-type {
    display: flex;
    gap: var(--gap-header);
}

.search-bar > div:first-of-type > span {
    font-family: var(--font-style);
    font-size: var(--font-style-size-small);
    cursor: pointer;
}

.search-bar > div:first-of-type > span:first-of-type {
    color: tomato;
}

.search-bar > div:first-of-type > span:hover {
    color: var(--quaternary-color);
}

/* windows and linux logo */
.search-bar > div:last-of-type {
    display: flex;
    gap: var(--gap-header);
}

.search-bar > div:last-of-type > img {
    width: var(--nav-li-img);
    height: auto;
    cursor: pointer;
}

/* game list */
.game-portfolio {
    display: grid;
    gap: var(--gap-nav);
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    grid-template-rows: max-content;
    justify-content: center;
}

.game-portfolio div {
    cursor: pointer;
    height: 280px;
    margin: var(--gap-nav);
    border-radius: 5px;
    background-color: var(--tertiary-color);
    transition: all .2s ease-in-out;
    position: relative;
}

.game-portfolio img:last-of-type {
    width: 30px;
    height: auto;
    position: absolute;
    top: 89%;
    left: 80%;
}

.game-portfolio img:first-of-type {
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0 0;
    filter: grayscale(100%);
}

.game-portfolio div:hover {
    transform: scale(1.04);
}

.game-portfolio div:hover img {
    filter: grayscale(0%);
}

/* loader */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}
.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

.links-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* footer */
footer > div:first-of-type {
    font-size: var(--font-style-size-small);
    font-family: var(--font-style);
}

footer > div:nth-child(2) {
    display: flex;
}

footer > div {
    font-size: 0.9rem;
    margin: 1.6rem;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.icon{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background: #fff;
    margin: 0 20px 20px 20px;
    text-align: center;
    font-size: 25px;
    line-height: 37px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 2px 5px 10px rgba(150, 150, 150, .3);
    transition: all .1s ease-out;
}
.icon:hover{
    width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
.icon:hover i{
    color: #fff;
}
.icon .fa-linkedin-in{
    color: #0077B5;
}
.lnk:hover{
    background: #0077B5;
}
.icon .fa-github{
    color: #000;
}
.git:hover{
    background: #000;
}
a{
    text-decoration: none;
    color: #fff;
}

/* media queries */
@media screen and (max-width: 1000px) {
    html {
        font-size: 80%;
    }

    .search-bar > div:last-of-type {
        flex-direction: column;
        gap: var(--gap-mobile);
    }

    .search-bar > div:first-of-type {
        flex-direction: column;
        gap: var(--gap-mobile);
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 75%;
    }
    .hamburger {
        display: block;
    }
    nav {
        position: absolute;
        z-index: 1;
        width: 70vw;
        height: 70vh;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    main {
        grid-template-columns: 5fr;
    }
}

@media screen and (max-width: 600px) {
    .search-bar > form > input {
        padding: 0 0 0 19%;
    }
}
