@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

/* custom properties */
:root {
    --primary-color: #115e59;
    --secondary-color: #0f766e;
    --tertiary-color: #0d9488;
    --quaternary-color: #14b8a6;
    --font-color: black;
    --font-style: 'Josefin Sans', sans-serif;
    --font-style-size: 1.6rem;
    --font-style-size-small: 1.5rem;
    --gap-header: 1.8rem;
    --img-width-header: 1.5rem;
    --img-width-logo: 6rem;
    --nav-li-img: 1.5rem;
    --gap-nav: 1rem;
}

/* body */
body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 18fr;
}

/* header */
header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    background-color: var(--secondary-color);
    color: var(--font-color);
}

header > span {
    grid-column: 4;
    align-self: center;
    font-family: var(--font-style);
    font-size: var(--font-style-size);
}

header > div {
    grid-column: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-header);
}

header > div > img {
    width: var(--img-width-header);
    height: auto;
    background-color: var(--tertiary-color);
    border-radius: 100%;
    cursor: pointer;
}

header > div > img:hover {
    background-color: var(--quaternary-color);
}

/* main */
main {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/* nav */
nav > div > img {
    width: var(--img-width-logo);
    height: auto;
    align-self: center;
    margin-bottom: var(--gap-nav);
}

img {
    width: var(--nav-li-img);
    margin-left: var(--gap-nav);
}

li > span {
    font-family: var(--font-style);
    font-size: var(--font-style-size-small);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--tertiary-color);
}

nav > div {
    display: flex;
    flex-direction: column;
    margin-top: var(--gap-nav);
}

nav li {
    margin-bottom: var(--gap-nav);
}

nav li:hover {
    background-color: var(--primary-color);
}

/* section */
section {
    background-color: var(--primary-color);
}

/* media queries */
@media screen and (max-width: 1500px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 70%;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 60%;
    }
}
