@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

/* custom properties */
:root {
    --primary-color: #115e59;
    --secondary-color: #0f766e;
    --tertiary-color: #0d9488;
    --quaternary-color: #14b8a6;
    --font-color: black;
    --font-style-header: 'Josefin Sans', sans-serif;
    --font-style-size: 1.6rem;
    --font-style-size-small: 1.2rem;
    --img-width-header: 1.5rem;
    --img-width-logo: 6rem;
    --img-width-list: 2rem;
    --gap-nav-ul: 1.3rem;
}

/* body */
body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 18fr;
}

/* header */
header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    background-color: var(--secondary-color);
    color: var(--font-color);
}

header span {
    grid-column: 4;
    align-self: center;
    font-family: var(--font-style-header);
    font-size: var(--font-style-size);
}

header div {
    grid-column: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header img {
    width: var(--img-width-header);
    height: auto;
    background-color: var(--tertiary-color);
    border-radius: 100%;
    cursor: pointer;
}

header img:hover {
    background-color: var(--quaternary-color);
}

/* main */
main {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/* nav */
nav {
    background-color: var(--tertiary-color);
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    justify-items: center;
    align-items: center;
}

nav img {
    width: var(--img-width-logo);
    height: auto;
    grid-row: span 2;
}

nav ul {
    grid-row: span 4;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    margin: 0;
    padding: 0;
    width: 100%;
    gap: var(--gap-nav-ul);
}

nav li:hover {
    background-color: var(--primary-color);
}

nav li img {
    width: var(--img-width-list);
    height: auto;
}

nav li {
    display: flex;
    align-items: flex-end;
    list-style: none;
    cursor: pointer;
    padding-left: 1rem;
}

nav li a {
    text-decoration: none;
}

nav li span {
    margin-left: var(--gap-nav-ul);
    font-family: var(--font-style-header);
    font-size: var(--font-style-size-small);
}

/* section */
section {
    background-color: var(--primary-color);
}

/* media queries */
@media screen and (max-width: 1500px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 70%;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 60%;
    }
}
